<!DOCTYPE html>
<html>
  <head>
    <title><%= templeteData.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= templeteData.title %></h1>
    <p>Welcome to <%= templeteData.title %></p>
  </body>
</html>