* {
    box-sizing: border-box;
}


.container {
    width: 1190px;
    margin: 0 auto;

    &.header,
    &.info {
        width: 1190px;
        max-width: 1190px;
    }
    &.info {
        padding-left: 0;
        padding-right: 0;
    }
}

a {
    text-decoration: none;
}

.pull-right {
    float: right;
    clear: right;
}

.pull-left {
    float: left;
    clear: left;
}